*{
    margin: 0;
    padding: 0;
}.page1{
    background-color: blue;
    display: flex;
}.navs{
    color: aliceblue;
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: flex-end;
}.navs li a{
   list-style: none;
   text-decoration: none;
   text-align: center;
   color: aliceblue;
}